
   body {
       font-family: Arial, sans-serif;
   }

   #productos, #carrito {
       margin: 20px;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 5px;
   }

   #productos div {
       margin-bottom: 10px;
   }

   #lista-carrito li {
       list-style: none;
       margin: 5px 0;
   }
